@import './colors';
@import './tab';

body{
	padding: 0;
	margin: 0;
	color: @light-blue;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: @dark-blue;
}

.wrapper{
	display: flex;
	max-width: 730px;
	flex-wrap: wrap;
	margin: 30px auto 0;
}

#calendar-wrap{
	flex: none;
	width: 350px;
	height: 290px;
	margin-right: 26px;
}

#tab-wrap{
	flex: none;
	min-height: 290px;
	width: 350px;
}